/* KATEGÓRIE (FILTRE) */
.filter-container, 
.search-container, 
#terminal-output {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.filter-container {
    margin-bottom: 15px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.filter-btn {
    background-color: #21262d;
    color: #c9d1d9;
    border: 1px solid #30363d;
    padding: 6px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.filter-btn.active {
    /* background-color: #236192;
    border-color: #236192; */
    background-color: #dfe3e6;
    border-color: #0d0d0d;
    color: #030303;
}