/* ZÁKLADNÉ */
:root {
  --safari-color: #2c92ff;
  --markdown-color: #2a79b5;
  --html-color: #E34F26;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'JetBrains Mono', 'Consolas', monospace;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

