/* ZÁKLADNÉ */
:root {
  --brew-color: #b0722a;
  --git-color: #c32c2c;
  --core-color: #1e747f;
  --finder-color: #8cdf6e;
  --md-color: #2a79b5;
  --safari-color: #2c92ff;
  --html-color: #c32c2c;
  --vsc-color: #3570f0;

* {
    box-sizing: border-box;
}

body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'JetBrains Mono', 'Consolas', monospace;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

